HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

## Settings Ignore ##
csci318-part-b-core/.settings/
csci318-part-b-sales/.settings/
csci318-part-b-procurement/.settings/
csci318-part-b-inventory/.settings/

## Target Ignore ##
csci318-part-b-core/.target/
csci318-part-b-sales/.target/
csci318-part-b-procurement/.target/
csci318-part-b-inventory/.target/

## Classpath Ignore ##
csci318-part-b-core/.classpath
csci318-part-b-sales/.classpath
csci318-part-b-procurement/.classpath
csci318-part-b-inventory/.classpath
